/****************** tag selectors *************/
body{
    background-color: hsl(233, 47%, 7%);
    padding: 100px 200px 100px 200px;
}
h1{
    color: hsl(0, 0%, 100%);
    display: inline-block;
    width: 80%;
    margin: 20px auto 10px auto;
    padding-top: 10px;
    text-align: left;
    font-family: 'Inter', sans-serif;
}
span{
    color: hsl(277, 64%, 61%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    display: inline-block;
    margin-top: 0px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}
h3{
    color: hsla(0, 0%, 100%, 0.6);
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;

}
img{
    width: 420px;
    height: 350px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    filter: opacity(0.55);
}
/******************* class selectors **********/

.image{
    background-color: hsl(277, 64%, 61%);
    width: 420px;
    height: 350px;
    position: relative;
    bottom: 350px;
    left: 420px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
.stats{
    display: inline-block;
    margin: 20px;
}
.why{
    width: 80%;
    text-align: left;
    line-height: 1.5;
    margin-top: 20px;
}
.text{
    text-align: center;
    background-color:hsl(244, 38%, 16%);
    margin: 0 auto 0 auto;
    width: 420px;
    height: 350px;
    display: inline-block;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}